body {
    background-color: #f0f0f0;
    width: 100%;
    margin: auto;
}

.container1 {
    color: black;
    float: left;
    border-radius: 10px;
    margin: 30px;
    font-size: 15px;
    background-color: #E0FFFF;
    width: 450px;
    height: 700px;
    position: absolute;
    top: 52%;
    left: 30%;
    transform: translate(-50%, -50%);
}

.header,
.material-icons {
    margin-top: -30px;
    margin-bottom: -30px;
    font-size: 19px;
    background: -webkit-linear-gradient(pink, black);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.form-control {
    width: 200px;
    height: 20px;
    font-size: 12px;
    margin: 8px;
}

input {
    width: 200px;
    height: 20px;
    font-size: 12px;
    margin: 8px;
    float: right;
}

button {
    width: 200px;
    height: 25px;
    background-color: palevioletred;
    margin: 10px;
    border-radius: 5px;
    border: none;
    position: center;
}

.phoneimg {
    height: 100px;
    margin-right: 50px;
    float: center;
    width: 50px auto;
}

.content {
    position: relative;
    background-color: #FFE4E1;
    height: 70px;
}

.content li {
    display: inline-block;
    margin-top: 15px;
}

.ul {
    border: 2px solid black;
    background-color: pink;
    padding: 20px;
    font-size: 10%;
    text-decoration: none;
}

.head1 {
    background: -webkit-linear-gradient(rgb(219, 110, 130), black);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    font-family: Arial;
    font-size: 25px;
    align-content: center;
    float: center;
    margin-bottom: 0px;
    margin-top: -30px;
}

.logout {
    /* margin-top: -20px ;*/
    margin-bottom: 50px;
    /*border: 2px solid linear-gradient(180deg, black, pink);*/
    font-size: 17px;
    background: -webkit-linear-gradient(rgb(219, 110, 130), black);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    float: right;
    border-radius: 5px;
}

.usersimage {
    /*float: right; */
    margin-left: 40px;
    border-radius: 10px;
    border: pink;
    background: -webkit-linear-gradient(rgb(219, 110, 130), black);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    font-size: 19px;
}

.profile {
    color: black;
    float: right;
    text-align: center;
    border-radius: 10px;
    margin: 30px;
    font-size: 20px;
    background-color: #E0FFFF;
    width: 450px;
    height: 700px;
    position: absolute;
    top: 52%;
    left: 30%;
    /* transform: translate(-50%, -50%); */
    transform: translate(55%, -50%);
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(240, 169, 224, 0.507);
    color: rgb(19, 6, 6);
    text-align: center;
}